@mixin divider($clr: $color-blue, $pos: after, $is_between : false) {
    &::#{$pos} {
        content: "";
        background-color: $clr;
        height: 8px;
        display: block;
        width: 2.4em;
        @if $pos == after {
            margin-top: 1em;
        } @else if $pos == before {
            margin-bottom: 1em;
        } @if $is_between == true {
            margin: .5em 0;
        }
    }
}