@mixin divider($clr: $color-blue, $pos: after, $is_between : false ,$vertical : false) {
    &::#{$pos} {
        content: "";
        background-color: $clr;
        height: 8px;
        display: block;
        width: 2.4em;
        @if $pos == after {
            margin-top: 1em;
        } @else if $pos == before {
            margin-bottom: 1em;
        } @if $is_between == true {
            margin: .5em 0;
        }
        @if $vertical == true {
            height: 0.2em;
            width: 2.5em;
            @include rotate(-90deg);
        }
    }
}


@mixin rotate($degrees) {
    -webkit-transform: rotate($degrees);
    -moz-transform: rotate($degrees);
    -ms-transform: rotate($degrees);
    -o-transform: rotate($degrees);
    transform: rotate($degrees);
}


@mixin respond($breakpoint) {
  @if $breakpoint == xs {
    @media (max-width: 767px) { @content; }
  }

  @else if $breakpoint == sm {
    @media (min-width: 768px ) and (max-width: 992px) { @content; }
  }

  @else if $breakpoint == md {
    @media (min-width: 992px ) and ( max-width: 1200px ) { @content; }
  }

  @else if $breakpoint == lg {
    @media (min-width: 1200px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }

  @-moz-keyframes #{$animation-name} {
    @content;
  }

  @-ms-keyframes #{$animation-name} {
    @content;
  }

  @-o-keyframes #{$animation-name} {
    @content;
  }

  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}
