@mixin divider($clr: $color-blue, $pos: after, $is_between : false) {
    &::#{$pos} {
        content: "";
        background-color: $clr;
        height: 8px;
        display: block;
        width: 2.4em;
        @if $pos == after {
            margin-top: 1em;
        } @else if $pos == before {
            margin-bottom: 1em;
        } @if $is_between == true {
            margin: .5em 0;
        }
    }
}



@mixin respond($breakpoint) {
    @if $breakpoint == lg {
        @media only screen and (min-width: 1536px) { @content };  
    }
    @if $breakpoint == md {
        @media only screen and (min-width: 992px) { @content };  
    }
    @if $breakpoint == sm {
        @media only screen and (min-width: 576px) { @content }; 
    }
}

