.heading {
    line-height: 1.1;
    padding-bottom: .5em;
    
    font-size: 2rem;

    &--lg {
        font-size: 3em;
        font-weight: 700;
    }
    &--sm {
        font-size: 1.4rem;
    }

    &--light-text {
        font-weight: 300;
    }

    &--blue {
        color: $color-blue;
    }
    &--white {
        color: $color-light;
    }

}
.para {
    margin-bottom: 1.5em;
    font-size: 1.125rem;

    &--lg {
        font-size: 1.3rem;
    }
    &--sm {
        font-size: 1rem;
    }
    &--dark {
        color: $color-dark;
    }
}


.big-heading {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 3em;
    font-weight: 900;
    line-height: 1.1;
}

.heading {
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.1;
}


.sub-heading {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
}

.lead {
    line-height: 1.4;
    letter-spacing: 0.09px;
    font-size: 1.1rem;
    &--lg {
        font-size: 1.3em;
    }
}

// Typography Utilities
.big {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1.1;
}
.light {font-weight: 300; }

// HEADINGS
// h1 - BIG HEADING
// h2 - Section headings
// h3   Sub headings


// p - lead text / para--big

