.br {
    display: block;
}

.divider {
    display: block;
    @include divider(var(--color-teams), before , true);
}

.blue {color: $color-blue;}
.cyan {color: $color-cyan;}
.white {color: $color-light;}

.img-responsive {
    max-width: 6rem;
    width: 100%;
    height: auto;
    margin: 0 auto;
}


// Margins
.mt {
    margin-top: .7em;
}

.my-5 {
    margin: 1.5em 0;
}
.my-3 {
    margin: 1.2em 0;
}
.my-1 {
    margin: .5em 0;
}