.about {
    padding: 3em;
    text-align: center;
    background-image: 
    linear-gradient(to bottom, rgba($color-light, .6), rgba($color-light, .8)),
    url(../../assets/img/mobile/about/about-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}