.careers{
    text-align: center;
    h2{
        display: inline;
    }

    p{
        text-align: left;
    }
    .accordion-background{
        background: #00ffff;
    }
}

.modal{
    display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  .paperclip-container{
      color: #000;
      p{
          text-align: center;
      }
  }
}
.modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
  }
  
  .close-modal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-modal:hover,
  .close-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.choice {
    &__content {
        padding: 3em;
        text-align: center;
        & .heading {
            display: inline-flex;
        }
        p{
            max-width: 600px;
            font-weight: bold;
            margin: auto;
            color: #263238;
            padding: 0 20px;
            font-size: 14px;
        }
    }

}

@media screen and (max-width: 850px) {
    .choice {
        &__content {
            & .heading {
                display: block;
            }
        }
    
    }
}
