.contact {
    text-align: center;

    &__grid {
        display: flex;
        justify-content: center;
    }

    &__img {
        padding: 30px;
        flex: 0 0 30em;
        text-align: center;
        img {
            width: 100%;
            max-width: 300px;
            margin: 0 auto;
        }
    }
}

.form {
    padding: 20px;
    flex: 0 0 70%;
    display: flex;
    justify-content: center;

    &__col {
        padding: 15px;
        flex: 1;
    }

    &__control {
        width: 100%;
        border-radius: 20px;
        outline: none;
        border: 1px solid gray;
        padding: 5px 10px;
        margin: 5px;
    }


    &__checkbox input[type=checkbox] {
        display: none;
    }

    &__checkbox input[type=checkbox]~label:hover::before {
        background: #ddd;
    }

    &__checkbox input:checked~label:before {
        content: "";
    }
    &__checkbox input:active {
        background-color: red;
    }

    &__checkbox label:before {
        display: inline-block;
        content: "\00a0";
        /* Blank space */
        width: 20px;
        // margin-right: 5px;
        // text-align: center;
        // background: #f2f2f2;
        background: #00FFFF 0% 0% no-repeat padding-box;
        border: 1px solid #26323800;
        border-radius: 15px;
        opacity: 0.6;
    }

    &__btn {
        background-color: $color-cyan;
        border: 0;
        outline: 0;
        -webkit-appearance: none;
        appearance: none;

        width: 100%;
        border-radius: 20px;
        padding: 7px;
    }

    & .icon .fa {
        color: $color-blue;
    }
}
