.cywar {
    background-image: url("../../assets/img/Home/Desktop/CywarImg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    text-align: left;
    position: relative;
    &__img-beyond {
        height: 100%;
        -webkit-transform: rotate(-18deg);
        -moz-transform: rotate(-18deg);
        -ms-transform: rotate(-18deg);
        -o-transform: rotate(-18deg);
        transform: rotate(-18deg);
        position: absolute;
        // top: -50px;
        right: 0;
    }
    &__img-between {
        width: 100%;
        -webkit-transform: rotate(-18deg);
        -moz-transform: rotate(-18deg);
        -ms-transform: rotate(-18deg);
        -o-transform: rotate(-18deg);
        transform: rotate(-18deg);
        // position: absolute;
    }
}
