.cywar {
    padding: 3em 2em;
    background-image: url(../../assets/img/mobile/cywar/cywar-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    text-align: center;

    &__img {
        width: 100%;
        height: auto;
        margin: 2rem 0;
    }
}
