.experts {

    .slick-center {
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        transform: scale(1.25);
        position: relative;
        top: 50px;
    }

    .slick-track{
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .slick-next{
        top: 60%;
        right: -70px;
    }
    
    .slick-prev{
        top: 60%;
        left: -70px;
    }
    .container-fluid{
        width: 80%;
        padding: 0 5vw;
    }
    text-align: center;
    .slider-experts {
        .slick-list {
            padding: 5em 0;
        }
    }

    .full-img{
        width: 100%;
        position: relative;
        top: 80px;
    }
    .mobile-experts{
        .slick-current {
            box-shadow: inset 1px 1px 5px rgba($color-dark-light, .4);
        }
        .expert-card{
            padding: 2em;
        }
    }

    .expert-card {
        transition: all .5s;
        margin-top: 90px ;
        margin-bottom: 90px ;
        background-color: $color-light;
        padding: 0;
        position: relative;
        transition: all .3s ease-out;
        outline: 0;
        cursor: pointer;
        .all-card{
            box-shadow: 1px 1px 5px rgba($color-dark-light, .4);
            padding: 2em;
        }
        .expert-name {
            color: $color-cyan;
            font-weight: 700;
            font-size: 1.3em;
            font-family: inherit;
            text-transform: uppercase;
            position: absolute;

            bottom: 3em;
            left: 50%;
            transform: translate(-50%);
            display: none;
            @include respond(md) {
                display: block;
            }
        }

      
    @include respond(md) {
        &--active {
            background: white !important;
            transform: scale(1.2);
            z-index: 100;
            padding: 4em 0;
            .expert-card__img {
                opacity: 1;
            }
            .expert-card__content  {
                opacity: 1;
            }

            .expert-name {
                display: none;
            }

        }
    }

        // @include respond(md) {
        //     background: url(../../assets/img/experts/desktop-slider/Amir.png);
        //     background-size: cover;
        //     background-position: center;
        //     background-repeat: no-repeat;
        //     margin: 0;
        // }


        &__img {
            max-width: 7.5rem;
            width: 100%;
            height: auto;
            margin: 0 auto;
            margin-top: -5em;
            top: 0;
            left: 50%;
            z-index: 100;
            @include respond(md) {
                opacity: 0;
            }
        }

        &__content {
            padding-top: 3em;
            @include respond(md) {
                opacity: 0;
            }
        }
    }

    // .slick-next:after{

    // }

    // .slick-prev:before{

    // }

}
.mobile-experts{
    display: none;
}
@media screen and (max-width: 850px) {
    .experts{
        .slick-next{
            top: 45%;
            right: -25px;
        }
        
        .slick-prev{
            top: 45%;
            left: -25px;
        }
        .mobile-experts{
            display: block;
        }
        .pc-experts{
            display: none;
        }
    }
}