footer {

    background-image: url(../../assets/img/Home/Desktop/footer.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    color: $color-light;

    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;

    & .col-md-6 , .col-md-3{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & a {
        color: $color-light;
        text-decoration: none;
        white-space: nowrap;
        text-align: left;
        font-family: Roboto;
        font-style: normal;
        font-weight: lighter;
        font-size: 22px;
        color: rgba(255, 255, 255, 1);
        letter-spacing: 0.2px;
        text-transform: capitalize;
        padding: 0 10px;
    }

    & .fa {
        color: $color-light;
    }
}
