.hero {
    background-image: url(../../assets/img/Home/Desktop/header.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 5vh;
    justify-content: center;
    align-items: center;

    &__content {
        text-align: center;
        color: $color-light;
        h1{
            width: 100%;
            line-height: 0.9;
            font-size: 1.6em;
        }
        p{
            width: 100%;
            font-size: 1.4em;
        }

    }
}
.hero.career {
    background-image: url(../../assets/img/Home/Desktop/header.png);
}
@media screen and (max-width: 850px) {
    .hero {
        &__content {
            margin-top: 9vh;
            font-size: 30px;
            h1{
                font-size: 1.2em;
            }
        }
    }
}