.hero {
    background-image: url(../../assets/img/mobile/hero/header.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        text-align: center;
        color: $color-light;
        padding: 0 2em;

        .heading {
            padding-bottom: 1em;
            .glitch {
                display: block;
                position: relative;
                height: 5rem;
                svg {
                    position: absolute;
                    width: 15rem;
                    height: 5rem;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }


    }
}
