.btn {
    font-size: 1.2rem;
    background: none;
    font-family: inherit;
    padding: .5em 1.8em;
    color: currentColor;
    border-radius: 50px;
    border: 1px solid;
    font-weight: 700;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;


    &--full {
        background-color: $color-cyan;
        color: #000;
        border: 2px solid $color-cyan;
        font-size: 1rem;
    }
    
    &--full:hover{
        background-color: #fff;
        color: #1565c0;
        border: 2px solid #1565c0;
    }

    &--ghost {
        border-color: $color-light;
    }

    &--ghost:hover{
        background-color: $color-cyan;
        color: $color-dark;
        border-color: transparent;
    }
}

// [dir='rtl'] .slick-prev:before {
//     content: '→';
// }

// .slick-prev:before {
//     content: '←';
// }

// .slick-prev:before,
// .slick-next:before {
//     font-family: 'slick';
//     font-size: 20px;
//     line-height: 1;
//     opacity: .75;
//     color: white;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }
