.btn {
    border: 2px solid;
    font-size: 1.7rem;
    background: none;
    font-family: inherit;
    padding: .3em .8em; 
    color: currentColor;
    border-radius: 50px;
    
    &--ghost {
        border-color: $color-light;
    }
}