.cards {
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
}

.card {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: left;
    padding: 3em;
    color: $color-light;
 

    &--1 {
        background-image: url("../../assets/img/Home/Desktop/additional1\ img.png");
    }
    &--2 {
        background-image: url("../../assets/img/Home/Desktop/additional2\ img.png");
    }


    &__icon {
        background-color: $color-light;
        border-radius: 50%;
        box-shadow: 1px 1px 10px rgba($color-dark-light, .4);
        padding: 1.2em;
        position: absolute;
        right: -30px;
        svg {width: 2rem; height: 2rem;}
    }
    
    &__icon-left {
        top: 10%;
        right: initial;
        left: -30px;
    }
    &__icon-right {
        bottom: 10%;
    }
}
