.list {
    &__item {
        padding: .8em 0;
        display: flex;
        align-items: center;
        &::before {
            content: "";
            background-color: var(--color-teams);
            height: 1em;
            width: 2px;
            display: inline-block;
            margin-right: .5em;
        }
    }
}