.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1em 2em;

    &__logo {
        img {
            max-width: 9rem;
            width: 100%;
        }
    }
    &__btn {
        background: none;
        border: none;

        svg {
            width: 2.5rem;
            height: 2.5rem;
        }
    }
    &__menu {
        display: none;
    }
    &__item {}
    &__link {}

}