.tabs {
    &__wrapper {
        background-image:
        linear-gradient(to bottom, $color-light, transparent),
        url("../../assets/img/Home/Desktop/services\ blue\ img.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        background-blend-mode: overlay;
        position: relative;
    }
    &__menu {
        display: flex;
        justify-content: center;
        margin: 0 2em;
        position: relative;
    }
    &__btn {
        background: none;
        border: none;
        outline: none;
        padding: .5em 1em;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 300;
        color: $color-blue-lighter;
        cursor: pointer;
        position: relative;
        overflow: hidden;

        &::after {
            content: "";
            width: 100%;
            height: 4px;
            display: block;
            background-color: currentColor;
            position: absolute;
            left: 0;
            bottom: -2px;
            transition: all .3s ease-in;
            z-index: 100;
        }

        &--active {
            font-weight: 700;
        &[data-for-team="blue"] {
            color: $color-blue-light;
        }
        &[data-for-team="between"] {
            color: $color-dark-light;
        }
        &[data-for-team="red"] {
            color: $color-red;
        }
            &::after {
                transform: translateY(-2px);
            }
        }


    }
    &__content {
        padding: 4em 2.5em;
        display: none;
        .heading, .sub-heading {
            color: var(--color-teams);
        }

        &--active {
            display: block;
        }

        &--top {
            text-align: center;

        }
        &--bottom {
            text-align: left;
        }

    }


    // the <ul> element
    .slider {
        padding: 1.5em 0;
        // the <li> element
        &__slide {
            @include divider(var(--color-teams), before);
        }
        &__slidevert {
            @include divider(var(--color-teams), before, false, true);
        }
    }

}

@media screen and (min-width: 850px) {
    .tabs {
        &__btn {
            padding: .5em 4em
        }
    }
}

@media screen and (max-width: 850px) {
    .tabs {
        &__wrapper {
            background-size: 500%;
        }   
    }
}
